# Build artifacts
**/.next
**/node_modules
**/.turbo
**/dist
**/out
**/.next/cache

# User uploads & static assets (should be in volumes)
**/public/uploads
**/storage/uploads

# Environment and secrets
.env*
**/.env*

# Git and meta
.git
.gitattributes
.gitignore
LICENSE
README.md

# Docker
Dockerfile
docker-compose.yml

# Logs
npm-debug.log
*.log
